<%
  no_margin ||= false
%>
<div class="page-header <%= 'page-header-no-margin' if no_margin %>">
  <%= link_to back_path, class: "page-header-back" do %>
    <%= icon_arrow_left(size: 24, class: "page-header-icon") %>
  <% end %>
  <h1 class="page-header-title"><%= title %></h1>
  <div class="page-header-spacer"></div>
</div>
