<div class="toast-container" id="toast-container">
  <% [
    { type: "success", content: notice, duration: 5000 },
    { type: "error", content: alert, duration: 6000 }
  ].each do |toast| %>
    <% if toast[:content].present? %>
      <%= render "shared/toast", type: toast[:type], content: toast[:content], duration: toast[:duration] %>
    <% end %>
  <% end %>
</div>

<%# Template for dynamically creating toasts from JavaScript %>
<template id="toast-template">
  <div class="toast toast-success" data-controller="toast" data-toast-type-value="success" data-toast-duration-value="2000">
    <div class="toast-content"></div>
    <button type="button" class="toast-close" data-action="click->toast#close" aria-label="Close"></button>
  </div>
</template>
