<% require "dotenv"; Dotenv.load(".kamal/.env") %>

# Name of the container image.
image: todo/todo

# Credentials for your image host.
registry:
  username: todo
  password:
    - KAMAL_REGISTRY_PASSWORD

# Aliases are triggered with "bin/kamal <alias>". You can overwrite arguments on invocation:
# "bin/kamal logs -r job" will tail logs from the first server in the job section.
aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"

volumes:
  - "drive50_storage:/rails/storage"

asset_path: /rails/public/assets

# Configure the image builder.
builder:
  arch: amd64
  <% if ENV['KAMAL_REMOTE_BUILD'] %>remote: <%= ENV['KAMAL_REMOTE_BUILD'] %><% end %>
