<div id="progress-summary" class="dashboard-summary">
  <%= render "drive_sessions/dashboard_hero", stats: stats %>
  <%= render "drive_sessions/activity_calendar", stats: stats, days: activity_days %>
</div>
