<% if recent_sessions.any? %>
  <%= render partial: "drive_sessions/session_row", collection: recent_sessions, as: :session %>
<% else %>
  <tr>
    <td colspan="5" class="empty-state">No drives recorded yet. Start your first drive!</td>
  </tr>
<% end %>
