<% content_for :title, "Drive Log" %>

<%= turbo_stream_from Current.user %>

<div class="dashboard">
  <div class="page-header">
    <h1 class="page-header-title">Drive Log</h1>
  </div>

  <div class="drive-history">
    <% if @sessions.any? %>
      <div id="sessions-table">
        <table>
          <%= render "table_header" %>
          <tbody id="sessions-tbody">
            <%= render partial: "session_row", collection: @sessions, as: :session %>
          </tbody>
        </table>
      </div>

      <turbo-frame id="sessions-pagination" data-controller="infinite-scroll">
        <div id="pagination-container" class="pagination-wrapper">
          <% if @pagy.next %>
            <%= link_to "Load More", @pagy.page_url(:next),
                        class: "button button-primary",
                        data: {
                          turbo_frame: "sessions-pagination",
                          infinite_scroll_target: "link"
                        } %>
          <% end %>
        </div>
      </turbo-frame>
    <% else %>
      <p class="empty-state">No drives recorded yet. Start your first drive!</p>
    <% end %>
  </div>
</div>
